[Unit]
Description=Run LibreSpeed WAN test every six hours

[Timer]
OnCalendar=*-*-* 01,07,13,19:15:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
