[Unit]
Description=Run LibreSpeed WAN test hourly at 23 minutes past

[Timer]
OnCalendar=*-*-* *:23:00
Persistent=true

[Install]
WantedBy=timers.target
